xml/preguntas.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT questions (question)+>
<!ELEMENT question (title, option*, answer+)>
<!ATTLIST question id ID #REQUIRED>
<!ATTLIST question type (select|multiple|text|radio|checkbox) #REQUIRED>
<!ELEMENT title (#PCDATA)>
<!ELEMENT option (#PCDATA)>
<!ELEMENT answer (#PCDATA)>